
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.2s;
    animation-name: animatebottom;
    animation-duration: 0.2s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:0px; opacity:0} 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:0px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

nav {
    height: 62px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid #0386FF;
}

#logo {
    position: absolute;
    margin-left: 10%;
    margin-top: 2px;

}

#menu{
    
    
    position: absolute;
    font-size: 20px;
    width: 100%;
    padding-top: 18px;
    
}
#btHome {

    color: #0386FF;
    margin-left: 22%;
}


#btOut {

    color: #565656;
    margin-left: 1%;
}
#btCart {

    color: #565656;
    margin-left: 15%;
    
    
}
#n1{
    color: #F87F28;
    margin-left: 19%;
}




#btn1{
    background-color: #266FDC;
    margin-top: 300px;
    margin-left: 15%;
    color: white;
    

}
#btn2{
    background-color: #F87F28;
    margin-top: -330px;
    margin-left: 70%;
    color: white;

}
#btn1,#btn2{
    position: absolute;
    width: 245px;
    height: 40px;
    border-radius: 30px;
    border: transparent;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
#capsule{
    
    margin-top: 30px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
footer{
    position: absolute;
    max-width: 1920px;
    width: 100%;
    height: 350px;
    background-color: #CBEFE4;
    margin-top: 39px;
}
#footer{
    padding-top: 20px;
}
#footH{
    font-size: 24px;
    text-align: center;
}
#ft1{
    margin-top: 10px;
    position: absolute;
    margin-left: 25%;
    width: 360px;
    height: 230px;
    text-align: left;
    background-color: #F69A56;
    border: transparent;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    text-indent: 25px;
    line-height: 12px;
    
    
}
#ft2{
    margin-top: 10px;
    position: absolute;
    margin-left: 51%;
    width: 360px;
    height: 230px;
    text-align: left;
    background-color: #68B3F8;
    border: transparent;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    text-indent: 25px;
    line-height: 12px;
}
#pic1{
    width: 100px;
    height: 100px;
   margin-left: 64%;
}
#pic2{
    width: 105px;
    height: 105px;
   margin-left: 64%;
}
/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    font-size: 20px;
  }
  
  /* The Close Button */
  .close {
    color: #000000;
    float: right;
    font-size: 34px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  