body {
    background-color: #68b2f8;
    
}
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration:0.2s;
    animation-name: animatebottom;
    animation-duration: 0.2s;
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:0px; opacity:0} 
    to { bottom:0px; opacity: 1 }
  }
  
  @keyframes animatebottom { 
    from { bottom:0px; opacity:0} 
    to { bottom:0px; opacity: 1 }
  }

#admin {
    position: absolute;
    right: 0px;
    bottom: 20px;
    width: 240px;
   


}
/* page{
    filter: blur(1px);
    -webkit-filter: blur(1px);
    background-color: #255f96c5;
    position: absolute;
    width: 100%;
    height: 700px;

} */

container {
    position: absolute;
    width: 1000px;
    height: 630px;
    
    margin-top: 20px;
    margin-left: 250px;

    border-radius: 15px;
    

}






#slip{
    position: absolute;
    width: 400px;
    height: 500px;
    border: 2px solid #ffffff ;
    border-radius: 15px;
    
    

    
}


#backform {

    width: 580px;
    height: 500px;
    

    border-radius: 15px;
    border: 2px solid #ffffff;
    margin-top: 10px;
    margin-left: 410px;
    
    padding-top: 12px;
    background-color: #ffffff; /* For browsers that do not support gradients */
    background-image: linear-gradient(#25b5ea,#95def7, white 60%);
   
}
#cus_detail{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    padding-left: 16px;
}




#backform2 {

    width: 1000px;
    height: 500px;
    background-color: white;

    border-radius: 15px;
    border: 1px solid #2fe150;
    margin-top: 10px;
}
#backform3 {

    width: 1000px;
    height: 500px;
    background-color: white;

    border-radius: 15px;
    border: 1px solid #f74242;
    margin-top: 10px;
}

form {
    width: 100%;
    height: 200px;
    background-color: #F69A56;

    margin-top: 280px;
    border-radius: 15px;
    color: white;

}

#tr1 {
    font-size: 16px;
   
    
}

.head {
    display: inline-block;

    margin-top: 2.5em;
    font-size: 20px;
}



table{
    position: absolute;
    width: 500px;
    margin-left: 35px;
    margin-top: 42px;
    

}
tfoot{
    font-weight: bold;
    font-size: 20px;
}


#tr2{
    font-size: 16px;
    height: 30px;

    
    
}
#tr1{
    font-size: 18px;
}
#Edit{
    
    
    
    
    font-weight: bold;
    color: #2dc026;
    height: 29px;
}

#data{
    color: Black;
}

#radio{
    position: absolute;
    margin-left:2em;
    margin-top: 6em;
    font-size: 20px;
}
.col1{
    color: #F69A56;
}
span button{
    border-radius: 10px;
    border: 1px solid;
    border: 2px solid #ffffff;
    
}

#spb1{
    background-color: #F69A56;
    width: 352px;
    border-radius: 10px;
    border: 1px solid;
    border: 2px solid #ffffff;
    color: white;
    height:40px;    
    position: absolute;
    
}
#spb2{
    background-color: #F69A56;  
    color: white;
    height:43px;
   
    
    width: 40px;
}

#spb3{
    background-color: #f74242;
    margin-left: 3px;
}
.st{
    background-color: #d1d1d1;

}
.st2{
    background-color: #2fe150;

}
.st3{
    background-color: #f74242;

}
#button_bar{
    position: absolute;
    margin-left: 660px;
    margin-top: 520px;
    font-size: 20px;
    
}
#button_bar button{
    width: 120px;
    border-radius: 10px;
    border:transparent;
    height: 40px;
    color: white;

   

}
#verifybt{
   
    background-color: #2fe150;
    margin-left: 260px;
}

#cancelbt{
    
    background-color: #f74242;
    margin-left: 30px;
   
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0); 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #68B3F8; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3691c5; 
  }
