
#pic1{
    position: absolute;
    margin-top: 80px;
    margin-left: 18%;
}
#contactChoice1{
    width: 8%;
    margin-top: -6px;
}
#tallandweight{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#tall{
width: 160px;
}
#weight{
width: 160px;
}
#contactChoice2{
    width: 8%;
    margin-left: 0.5rem;
    margin-top: -6px;
}
#gender{
    
    
    
    margin-left: 0.5rem;
}
#gender2{
    
    
   
    margin-left: 0.5rem;
}
#RadioGender{
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 18px;
}
form{
    position: absolute;
    width: 400px;
    height: 550px;
    background-color: #68B3F8;
    margin-top: 70px;
    margin-left: 53%;
    border-radius: 20px;
    text-align: center;
}
h1{
    color: white;
    
}


form input,textarea{
    width: 320px;
    height: 35px;
    text-indent: 5px;
    font-size: 20px;
}


#plaster{
    
    margin-top: 52px;
    margin-left: 1120px;
    transform: rotate(-70deg);
}
#plaster2{
    
    margin-top: -40px;
    margin-left: 820px;
    transform: rotate(70deg);
}
textarea {
    resize: none;
    height: 70px;
    width: 320px;
    
    text-indent: 5px;
    font-size: 20px;
  }
  #regisbt{
    background-color: #f79a56;
    border-radius: 20px;
    color: white;
    width: 240px;
    font-size: 20px;
    height:40px;
    border : transparent;
    

  }
  #regisbt2{
    background-color: #b5dbff;
    border-radius: 20px;
    color: white;
    width: 240px;
    font-size: 20px;
    height:40px;
    border : transparent;
    

  }