#tab {
  width: 30px;
  height: 500px;
  margin-left: 828px;
  margin-top: 40px;
  display: inline-block;
  background: #68b3f8;
  border-radius: 20px 0px 0px 20px;
  position: absolute;
}
#form2 {
  position: absolute;
  width: 560px;
  height: 500px;
  margin-left: 860px;
  margin-top: 40px;
  display: inline-block;
  background: #f79a56;
  border-radius: 0px 20px 20px 0px;
  padding-left: 44px;
  padding-top: 16px;
}
#form1 {
  position: absolute;
  width: 700px;
  height: 500px;
  margin-left: 100px;
  margin-top: 40px;
  display: inline-block;
  background: #f79a56;
  border-radius: 20px;
  padding-left: 44px;
  padding-top: 16px;
}

#images {
  width: 35px;
  height: 35px;
  position: absolute;
  margin-left: 30px;
  margin-top: 50px;
}

input {
  font-size: 18px;
  color: #000000;
  text-indent: 4px;
}

textarea {
  color: black;
  width: 460px;
  resize: none;
  text-indent: 4px;
}
h1 {
  color: white;
  margin-left: -10px;
}
p {
  color: white;
  font-size: 20px;
}
span {
  font-size: 16px;
  color: black;
}
#bt {
  color: white;
  font-size: 20px;
  background-color: black;
  width: 156px;
  border-radius: 20px;
  margin-left: 296px;
  margin-top: -16px;
  height: 38px;
}
#x {
  position: absolute;
  margin-left: 470px;
  margin-top: 14px;
  cursor: pointer;
  color: white;
}
#btGo {
  position: absolute;
  /* background: #68B3F8; */
  /* background: #91afcb; */
  width: 443px;
  height: 50px;
  margin-left: 828px;
  margin-top: 550px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 20px;
  border: transparent;
}
#btCancel {
  background: #1bd368;
  width: 140px;
  height: 50px;
  margin-left: 1280px;
  margin-top: 550px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 20px;
  border: transparent;
}
#p3{
    
  width: 700px;
  height: 500px;
  position: absolute;
  margin-left: -1320px;
  margin-top: 600px;
  display: inline-block;
  background: #F79A56;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);

}
#p4{
 
  background: #ffffff;
  width: 680px;
  height: 400px;
  margin-left: 10px;
  margin-top: 10px;
 
  
  
  
  border-radius: 10px;
}
#p4 input{
  font-size: 16px;
  font-weight: normal;
  background-color: none;
  color: #2b2b2b;
  border: transparent;
  width: 120px;
 
}
#p4 p{
  font-size: 16px;
  font-weight: normal;
  color: #2b2b2b;
}
#druglist{
  background-color: #ffffff;
  margin-left:-22px;
  border-radius: 10px;
  
}