#tab {
  width: 30px;
  height: 570px;
  margin-left: 448px;
  margin-top: 40px;
  display: inline-block;
  background: #68b3f8;
  border-radius: 20px 0px 0px 20px;
  position: absolute;
}
#form2 {
  position: absolute;
  width: 560px;
  height: 570px;
  margin-left: 480px;
  margin-top: 40px;
  display: inline-block;
  background: #f79a56;
  border-radius: 0px 20px 20px 0px;
  padding-left: 44px;
  padding-top: 16px;
}

#images {
  width: 35px;
  height: 35px;
  position: absolute;
  margin-left: 30px;
  margin-top: 50px;
}

input {
  font-size: 18px;
  color: #000000;
  text-indent: 4px;
}

textarea {
  color: black;
  width: 460px;
  resize: none;
  text-indent: 4px;
  height: 140px;
}
h1 {
  color: white;
  margin-left: -10px;
}
  p {
    color: white;
    font-size: 20px;
  }
span {
  font-size: 16px;
  color: black;
}
#bt {
  color: white;
  font-size: 20px;
  background-color: black;
  width: 156px;
  border-radius: 20px;
  margin-left: 296px;
  margin-top: -34px !important;
  height: 38px;
  position: absolute;
}
#x {
  position: absolute;
  margin-left: 470px;
  margin-top: 14px;
  cursor: pointer;
  color: white;
}
#btGo {
  position: absolute;
  /* background: #68B3F8; */
  /* background: #91afcb; */
  width: 443px;
  height: 50px;
  margin-left: 448px;
  margin-top: 550px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 20px;
  border: transparent;
}
#btCancel {
  background: #e7493e;
  width: 140px;
  height: 50px;
  margin-left: 900px;
  margin-top: 550px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 20px;
  border: transparent;
}
